
.color_picker, .thickness_picker {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: 1000;
	display: none;
}

.color_picker.enhanced, .brush_picker.enhanced, .thickness_picker.enhanced {
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0s;
	display: none;
}

.color_picker.show, .brush_picker.show, .thickness_picker.show {
	opacity: 1;
	display: block;
}

.color_picker .canvascover, .brush_picker .canvascover, .thickness_picker .canvascover {
	position: relative;
	height: 100%;
	background: rgba(0,0,0,0.3);
	bottom: 100px;
}

.picker_popup {
	background: #E6E6E6;
	border-bottom: 1px solid black;
	margin: 0;
	position: absolute;
	bottom: 50px;
	width: 100%;
}

.color_popup {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edeef1), color-stop(100%,#d6d9de));
    background-image: -webkit-linear-gradient(top, #edeef1, #d6d9de);
    background-image: linear-gradient(top, #edeef1, #d6d9de);
    border-top: 1px solid #B5BAC3;
    border-bottom: 1px solid #818287;
    padding: 6px 0px;
}

.color_popup .color_popup_color {
	background: #EDEEF1;
	width: 32px;
	height: 32px;
	margin: 5px 5.75px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
	float: left;
}

.color_popup .color_popup_color.green { background: #E6B82A; }
.color_popup .color_popup_color.turquoise { background: #E1852B; }
.color_popup .color_popup_color.purple { background: #D92020; }
.color_popup .color_popup_color.pink { background: #6725CA; }
.color_popup .color_popup_color.orange { background: #2840D2; }
.color_popup .color_popup_color.light_green { background: #55AE2A; }
.color_popup .color_popup_color.black { background: #5C4D45; }

.color_popup .color_popup_color.gray { background: #F0DE46; }
.color_popup .color_popup_color.light_pink { background: #D96125; }
.color_popup .color_popup_color.yellow { background: #DA325A; }
.color_popup .color_popup_color.blue { background: #A028C7; }
.color_popup .color_popup_color.dark_red { background: #32A7CE; }
.color_popup .color_popup_color.light_brown { background: #B6CA2F; }
.color_popup .color_popup_color.dark_orange { background: #978982; }

.color_popup .color_popup_color.dark_green { background: #FFF; }
.color_popup .color_popup_color.nice_blue { background: #000; }
.color_popup .color_popup_color.darkerer_grey { background: #353535; }
.color_popup .color_popup_color.darker_grey { background: #6C6C6C; }
.color_popup .color_popup_color.dark_grey { background: #9D9D9D; }
.color_popup .color_popup_color.light_grey { background: #D0D0D0; }
.color_popup .color_popup_color.tan { background: #CBBFB9; }

/* Android Styles */

@media (min-width: 360px) and (max-width: 720px) {
	.canvas-container {
		width: 340px;
		height: 340px;
	}
	.canvas-overlay {
		width: 340px;
		height: 340px;
		position: absolute;
		top: 0;
		left: 0;
		background-size: 100% 100%;
	}
	.color_popup .color_popup_color {
		width: 38px;
		height: 38px;
		margin: 4px 5.70px;
		-webkit-border-radius: 19px;
		border-radius: 19px;
	}
}

@media (min-width: 361px) and (max-width: 720px) {
	.color_popup .color_popup_color {
		width: 42px;
		height: 42px;
		margin: 4px 5.4px;
		-webkit-border-radius: 21px;
		border-radius: 21px;
	}
}
