
/*.app-title {
	background: CE0F41;
}*/
/*
.app-content{
	background: blue;
}	background-image: url(/img/logo-ios.png?inline=1);

*/

.app-content{
		background: #F0F0F0 ;
}

.app-section{
	background: #CFCFCF;
	margin:8px !important;
	padding: 4px;
}

.app-content .login{
	background: #4f86f0;		
	color: white;
	margin-left: 3%;
	height: 100px;
	border-radius: 10px;
}

.toolbar{
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tools {
	width: 100%;
}

.app-content .menu{
	background: #4f86f0;		
	color: white;
	float:left;
	margin-left: 3%;
	height: 100%;
	width: 30%;
	border-radius: 50px;
}

#draw{
	display: table;
    margin: 0 auto;
}

.section-canvas{
	background: #F0F0F0 ;
}

.app-section .canvs-container{
	margin: 0 auto;

}


.app-content .app-button .active {
	background: purple;

}


