
/*.app-title {
	background: CE0F41;
}*/
/*
.app-content{
	background: blue;
}
*/


.app-section{
	background: #CFCFCF;
}

.app-content .app-button .login{
		background: #4f86f0;		
		color: white;
		float:left;
		margin-left: 3%;
		height: 100%;
		width: 50%;
		border-radius: 50px;
}

.toolbar{
	border-radius: 50px;
}

.tools {
	width: 100%;
}

.app-content .app-button{
		background: #4f86f0;		
		color: white;
		float:left;
		margin-left: 3%;
		height: 100%;
		width: 30%;
		border-radius: 50px;
}

.app-section .canvs-container{
	margin: 0 auto;
}

.app-content .app-button.active {
	background: purple;
}

/*.home-page .app-button .menu {

}*/
