.save{
	background-image: url(/img/save.png?inline=1);
	background-size: cover;
	width: 30px;
}

.upload{
	background-image: url(/img/upload.png?inline=2);
	background-size: cover;
	width:30px;
}

.partner .status {
	height: 23px;
	line-height: 23px;
}
.chat{
	float: right;
	width: 50px;
	background-image: url(/img/chat5.png?inline=2);
	background-size: cover;
}
.app-content{
	background: #F0F0F0 ;
}

.app-section{
	background: #CFCFCF;
	margin:8px !important;
	padding: 4px;
}

.app-content .login{
	background: #6078ff;		
	color: white;
	height: 200px;
	margin-left: 3%;
	border-radius: 10px;
/*	background-image: url(/img/anon_small.png?inline=1);
	background-size: cover;*/

}

.app-section .login-section{
	height: inherit;
}

.toolbar{
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tools {
	width: 100%;
}

.app-content .menu{
	background: #4f86f0;		
	color: white;
	float:left;
	margin-left: 2%;
	height: 100%;
	width: 30%;
	border-radius: 50px;
}

#draw{
	display: table;
    margin: 0 auto;
}

.section-canvas{
	background: #F0F0F0 ;
}

.app-section .canvs-container{
	margin: 0 auto;
}

.app-content .app-button .active {
	background: purple;

}

.app-content .app-button .button-text {

}

.app-content .app-button .button-image {
	height: 150px;
	width: 200px;
	background-size: 100%;
	-webkit-background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-bottom: 10px;
}

.app-content .app-button .button-image.kikfriends-pic {
	background-image: url(/img/kikfriend2.png?inline=1);
}

.app-content .app-button .button-image.randoms-pic {
	background-image: url(/img/anon2.png?inline=1);
}
