
/*.app-title {
	background: CE0F41;
}*/


/*.chat{
	background-image: url(/img/chat2.png?inline=1);
	background-size: cover;
}*/


.app-content{
	background: #F0F0F0 ;
}

.app-section{
	background: #CFCFCF;
	margin:8px !important;
	padding: 4px;
}

.app-content .login{
	background: #4f86f0;		
	color: white;
	height: 200px;
	margin-left: 3%;
	border-radius: 10px;
/*	background-image: url(/img/anon_small.png?inline=1);
	background-size: cover;*/

}

.app-section .login-section{
	height: inherit;
}

#kikfriends{
/*	background-image: url(/img/kikfriends_small.png?inline=1);
	background-size: cover;
}

.app-button .login .kik-sign-in{
/*	background-image: url(/img/kikfriend.png?inline=1);
*/}

.toolbar{
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tools {
	width: 100%;
}

.app-content .menu{
	background: #4f86f0;		
	color: white;
	float:left;
	margin-left: 3%;
	height: 100%;
	width: 30%;
	border-radius: 50px;
}

#draw{
	display: table;
    margin: 0 auto;
}

.section-canvas{
	background: #F0F0F0 ;
}

.app-section .canvs-container{
	margin: 0 auto;
}

.app-content .app-button .active {
	background: purple;

}


