.thickness_picker_tabs .tab .icon {
	background-size: 160px 32px;
	background-image: url("../img/size_icons.png");
}

.thickness_picker_tabs .tab.thinest .icon {
	background-position: 0px;
}
.thickness_picker_tabs .tab.thin .icon {
	background-position: -32px;
}
.thickness_picker_tabs .tab.normal .icon {
	background-position: -64px;
}
.thickness_picker_tabs .tab.thick .icon {
	background-position: -96px;
}
.thickness_picker_tabs .tab.thickest .icon {
	background-position: -128px;
}

.toolbar .thickness_selector {
	width: 36px;
	height: 50px;
	background: url(../img/size3.png?inline=1);
	background-size: 36px 36px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-box-flex: 1;
}
.toolbar .thickness_selector.thinest {
	background: url(../img/size1.png?inline=1) no-repeat center;
	background-size: 36px 36px;
}
.toolbar .thickness_selector.thin {
	background: url(../img/size2.png?inline=1) no-repeat center;
	background-size: 36px 36px;
}
.toolbar .thickness_selector.thick {
	background: url(../img/size4.png?inline=1) no-repeat center;
	background-size: 36px 36px;
}
.toolbar .thickness_selector.thickest {
	background: url(../img/size5.png?inline=1) no-repeat center;
	background-size: 36px 36px;
}

.toolbar .brush_selector.active, .toolbar .thickness_selector.active {
	-webkit-transform: scale(0.9);
	-webkit-transition: linear 125ms;
}